body {
    margin: 0;
    background: #ffffff;
}

body.contact {
    background: #222222;
}

body.experience {
    background: #222222;
}

body.skills {
    background: #222222;
}

body.hire-me {
    background: #222222;
}

.header {
    background: #4a148c;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 520px;
    z-index: -1;
}

.header.contact {
    background: #311b92;
}

.header.skills {
    background: #880e4f;
}

.header.experience {
    background: #0078d7;
}

.header.hire-me {
    background: #004d40;
}

.header-content {
    font-family: "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    color: #fff;
    width: 1200px;
    margin: 0 auto;
    height: 288px;
    text-align: center;
    padding-top: 75px;
}

.header-content h1 {
    font-weight: normal;
    font-size: 42px;
}

.header-content h2 {
    font-weight: normal;
    font-size: 28px;
}

.header-links {
    width: 1200px;
    margin: 20px auto 10px;
    color: white;
    font-family: "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-size: 20px;
}

.header-links a {
    margin-right: 10px;
    display: inline-block;
    padding: 0 25px 0;
}

a, a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #cccccc;
}

.content {
    width: 1200px;
    min-height: 500px;
    margin: 300px auto 100px auto;
    background: #fff;
    border-radius: 2px;
}

.content-transparent {
    width: 1200px;
    min-height: 100px;
    margin: 550px auto 100px auto;
    font-family: "Segoe UI", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.content.experience {
    font-family: "Segoe UI";
    padding: 50px;
    width: 1100px;
}

.content.skills {
    font-family: "Segoe UI";
    padding: 50px;
    width: 1100px;
}

.content.hire-me {
    font-family: "Segoe UI";
    padding: 50px;
    width: 1100px;
    font-size: 20px;
}

.content.hire-me a {
    color: #004d40;
}

.content.hire-me a:hover {
    color: #888888;
}

.table-cell {
    display: inline-block;
    padding: 10px;
}

.job-title {
    font-size: 36px;
}

.job-description {
    margin-top: 20px;
    font-size: 20px;
}

ul {
    padding-left: 0;
}

ul > li {
    list-style: none;
    padding: 5px 0 5px 30px;
    background: url('../images/ic_check_circle_black_18dp_1x.png') no-repeat;
    background-position: left center;
}

li.face {
    background: url('../images/ic_face_black_18dp_1x.png') no-repeat;
    background-position: left center;
}

li.web {
    background: url('../images/ic_public_black_18dp_1x.png') no-repeat;
    background-position: left center;
}

li.database {
    background: url('../images/ic_storage_black_18dp_1x.png') no-repeat;
    background-position: left center;
}

li.perf {
    background: url('../images/ic_timer_black_18dp_1x.png') no-repeat;
    background-position: left center;
}

li.test {
    background: url('../images/ic_offline_pin_black_18dp_1x.png') no-repeat;
    background-position: left center;
}

p.upwork {
    padding: 23px 0 23px 124px;
    background: url('../images/upwork-logo.png') no-repeat;
    background-position: left center;
}

p.project-description {
    padding: 23px 124px 23px 0;
    background: url('../images/ic_insert_drive_file_black_100px.png') no-repeat;
    background-position: right center;
}